p{
    font-family:Georgia;
    color:navy;
}
h1,h3{
    font-size:2em;
    color:blue;
}
p.special{
  color:red;
}
h2{
    background-color: aquamarine;
}

a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    text-decoration: none;
  }