p {
	color: navy;
}

p.info {
	font-size: 10pt;
	font-size:small;
    background-color:#dfdfdf;
}

h1 {
	
	text-shadow: navy 1px 0px 10px;
 color: white;
}

h2 {
	border: solid 1px black;
	margin: 5px;
	color:#3f3faf;
}

div#zentai {
	/* display: flex;
	flex-direction: row; */
	display:grid;
    flex-direction:row;
    grid-template-columns:1fr 1fr;
    height: 200px 200px;
    grid-gap: 10px;
	width: 1024px;
}
img{
    float:right;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
